@import "../../styles/breakpoints.scss";

.resume {
    // position: relative;
    // z-index: -1;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 100%;
    // height: calc(100% - 235px);
    // object {
    //     min-height: 600px;
    //     height: 90%;
    //     width: 100%;
    // }
    @include animateEnter();
    display: flex;
    margin: auto;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
    z-index: -1;
    position: relative;
    @include tablet {
        width: 100%;
    }
    .PDFDocument {
        display: flex;
        align-items: center;
        .PDFPage {
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
            > canvas {
                max-width: 100%;
                height: auto !important;
            }
            .react-pdf__Page__annotations {
                display: none;
            }
        }
    }
}
.heading {
    margin-top: 40px !important;
    .ant-divider-inner-text {
        color: #374891;
        font-weight: 800;
        font-size: 14px;
        @include tablet {
            font-size: 18px;
        }
    }
}
