@import "../../styles/breakpoints.scss";

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 16px;
    color: #374891;
    padding-bottom: 140px;
    @include tablet {
        font-size: 16px;
    }
    .texts {
        margin-top: -1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            text-align: justify;
            line-height: 1.5rem;
        }
    }
    img {
        width: 100%;
        @include tablet {
            width: 50%;
        }
        max-width: 400px;
    }
}
