.bubbleWrapper {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    bottom: 25px;
    .bubble {
        background-color: #b2ddf1b8;
        width: 50px;
        height: 50px;
        bottom: 85px;
        border-radius: 50%;
        z-index: 1;
        transform: translateY(120%);
        display: flex;
        justify-content: center;
        align-items: center;
        .anticon {
            font-size: 20px;
            font-weight: 800;
            color: #374891;
        }
    }
    #home {
        transform: translateY(0%);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        > span {
            opacity: 0.7;
        }
    }
}
